<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="advance.android">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity" />
        <activity android:name=".test.TestCustomViewsActivity" />
        <activity android:name=".oop.interfaceSample.Main2Activity" />
        <activity android:name=".realm.RealmActivity" />
        <activity android:name=".mvp_simple.MVPSimpleActivity" />
        <activity android:name=".realmMVP.CarMVPActivity" />
        <activity android:name=".AndroidAnnotations.AnnotationsActivity_" />
        <activity android:name=".MVPWeather.WeatherMVPActivity_" />
        <activity android:name=".IPAPI.IPAPIActivity_" />
        <activity android:name=".PHP_REST.RegisterRestActivity_" />
        <activity android:name=".PHP_REST.LoginRestActivity_" />
        <activity android:name=".PHP_REST.RestOrdersListActivity_" />
        <activity android:name=".camera.CameraViewerActivity_" />
        <activity android:name=".DAGGER.MyDaggerActivity" />
        <activity android:name=".DAGGER2.SecondDaggerActivity" />
        <activity android:name=".Transtition.ActivityA"></activity>
        <activity android:name=".Transtition.ActivityB" />

        <service android:name=".FCM.FCMGetToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.FECMGetMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".CardViewActivity">

        </activity>
        <activity android:name=".recyclerPro.RecyclerProActivity_"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>